*{
 

  color:white;
  border-style: solid;
  border-color: yellow;
 
 
 
}
html{

  background-color: black;
}
#header{
  background-color:#282828;
  
  display: flex;
  justify-content: space-between;

 
}
h1{
  background-color: #282828;
  margin-left: 2%;
}
nav{
  background-color: #282828;
  
}
.container{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
 
  
}
.gifSearch{
  margin-right: 1%;
}
.gifNo{
  margin-left: 1%;
}
input{
  color:black;
  margin-top: 1%;
  background-color: white;

  
}
label{
  font-size: 20px;
  font-weight: bold;
}
.container-outer{
  display: flex;
  justify-content: space-around;

}
.submitButton{
  text-align: center;
  margin: auto;
}
body{
  height: 100%;
 
}
img{
 
  align-self:center;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 23%;
  margin: auto;
  margin-top: 1%;
  margin-bottom: 1%;
}
.x{
 display: flex;
 justify-content: space-around; 
 
}

/*ABOUT US*/
h2{
  text-align: center;
}


/*MEDIA QUERIES*/
@media only screen and (max-width: 600px) {
  .x{
    flex-direction: column;
    
  }
  img{
    height: 100%;
    width: 90%;
  }

  .container-outer{
    flex-direction: column;
  }
  .gifSearch, .gifNo{
    margin: auto;
  }
  #header{
    width: 100%;
  }
}
