*{
 

  color:white;
  
  font-family: 'Rubik Mono One', sans-serif;
 
 
 
}
html{

  background-color: black;
  position: relative;
  height: 100%;
}

#header{
  background-color:#282828;
  
  display: flex;
  justify-content: space-between;

 
}
h1{
  background-color: #282828;
  margin-left: 2%;
}
nav{
  background-color: #282828;
  
}
.container{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
 
  
}
.gifSearch{
  margin-right: 1%;
}
.gifNo{
  margin-left: 1%;
}
input{
  color:black;
  margin-top: 1%;
  background-color: white;

  
}
label{
  font-size: 1.5em;
  font-weight: bold;
}
.container-outer{
  display: flex;
  justify-content: space-around;

}
.submitButton{
  margin-top: 10%;
  text-align: center;
  margin: auto;
 
}
button{
  color: black;
}
body{
  height: 100%;
 
}
img{
 
  align-self:center;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 23%;
  margin: auto;
  margin-top: 1%;
  margin-bottom: 1%;
}
.x{
 display: flex;
 justify-content: space-around; 
 
}

/*ABOUT US*/
h2{
  text-align: center;
}
p{
  margin: auto;
  text-align: center;
}
#about{
  width: 50%;
  margin: auto;
}
.about_p{
  border-style: solid;
  border-color: white;
}

.makeStatic{
  position: static;
}
ion-icon{
  color: white;
  font-size: 2em;
}
.facebook{
  color: blue;
 
}
/**FOOTER*/
div.footer{
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#282828;
  color: white;
  text-align: center;
  
}

/*MEDIA QUERIES*/
@media only screen and (max-width: 600px) {
  .x{
    flex-direction: column;
    
  }
  img{
    height: 100%;
    width: 90%;
  }

  .container-outer{
    flex-direction: column;
  }
  .gifSearch, .gifNo{
    margin: auto;
  }
  #header{
    width: 100%;
  }
  div.footer{
    position: static;
  }
}

