.row {
    display: flex;
    
   
  }

  img{
    height:100%;
    margin:auto;
    margin-left: 1%;

  }
  
  /* Create two equal columns that sits next to each other 
  
  .column {
    flex: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;

    
  }
  */